* {
    margin: 0;
    padding: 0;
    color: #eeeeee;
}

body {
    background: #000000;
}

#page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#leftPage {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-right: rgba(255, 255, 255, .2) solid .1rem;
    padding: 0 1rem;
}

#toggleSidebarWrapper {
    text-align: right;
}

#toggleSidebar {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
}

#toggleSidebar:hover div {
    background: rgba(255, 255, 255, .5);
}

#toggleSidebar div {
    width: 2rem;
    height: 0.3rem;
    border-radius: .3rem;
    background: rgba(255, 255, 255, .3);
}

#blinder {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}

#rightPage {
    flex-grow: 1;
}

#title {
    text-align: center;
}

#title img {
    height: 8rem;
}

#title h1 {
    font-size: 2rem;
    text-decoration: underline;
}

.categories {
    overflow: scroll;
    flex-grow: 1;
    margin: 1rem 0;
}

.categories::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.categories h2 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 .5rem 0;
    text-decoration: underline;
}

.categories a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
    border-top: rgba(255, 255, 255, .2) solid .1rem;
}

.categories a.last {
    border-bottom: rgba(255, 255, 255, .2) solid .1rem;
}

.categories a:hover {
    background: rgba(255, 255, 255, .2);
}

#rightPage {
    margin: 1rem .5rem 1rem 1rem;
    padding-right: .5rem;
    overflow: scroll;
}

#rightPage::-webkit-scrollbar {
    width: .5rem;
    height: 0;
}

#rightPage::-webkit-scrollbar-track {
    border-radius: .5rem;
    background: rgba(255, 255, 255, .5);
}

#rightPage::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: rgba(0, 0, 0, .6);
}

#rightPage::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .5);
}

#rightPage h1 {
    font-size: 1.7rem;
    margin-top: 2rem;
}

#rightPage p {
    font-size: 1.2rem;
}

.previewImage {
    display: flex;
}

.previewImage img {
    height: 30rem;
}

.previewImage section {
    width: 40vw;
}

.NodeType {
    font-size: 1.4rem;
    margin-top: 1rem;
}

@media screen and (max-width: 50rem) {
    #leftPage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        border-right: unset;
        padding: 0;
    }

    #leftPage.show {
        border-right: rgba(255, 255, 255, .2) solid .1rem;
        padding: 0 1rem;
        background: #000000;
    }
    
    #blinder {
        display: none;
    }
    
    #leftPage.show #blinder {
        display: flex;
    }

    #toggleSidebar {
        display: inline-flex;
    }
}

@media screen and (max-width: 44rem) {
    .previewImage {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .previewImage img {
        margin: 1rem;
        height: unset;
        max-width: 75vw;
    }

    .previewImage section {
        width: unset;
    }
}